@font-face {
    font-family: 'Rancho';
    src: url(../fonts/Rancho-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    min-height: 100vh;
}

nav {
    position: relative;
    z-index: 50;
}

#app-main {
    height: 100%;
}

.brand-logo {
    font-family: 'Rancho', sans-serif;
    padding: 0px;
    white-space: nowrap;
}

.sidenav-trigger {
    margin: 0 !important;
    margin-left: 10px !important;
}

.sidenav {
    padding-top: 20px;
    width: 250px;
    height: 100%;
}

@media (min-width: 992px) {
    .sidenav-container {
        padding-left: 0 !important;
    }

    .sidenav {
        padding-top: 80px;
        position: fixed;
        z-index: 99;
        transform: translateX(0%) !important;
    }
}

.content-wrapper {
    margin-left: 250px;
}

@media (max-width: 992px) {
    .content-wrapper {
        margin-left: 0;
    }
}

#home-content .card {
    cursor: pointer;
}

.content {
    margin: auto;
    max-width: 1000px;
    padding: 40px;
}

.content-title {
    padding-bottom: 20px;
    font-size: 3rem;
}

.content-sub {
    padding-bottom: 20px;
    font-size: 2rem;
}

.card-content {
    position: relative;
}

.card-title {
    margin: 0px !important;
    color: rgba(0, 0, 0, 0.87);
}

.card-button {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(-50%, -50%);
}

.prefix {
    font-size: 16px !important;
}
